body {
    background: url(BG.jpg);

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}

.start,
.now {
    font-size: 35px;
}

.content {
    font-weight: 700;
    font-size: 25px;
    display: flex;
    text-align: center;
}

.main__time {
    flex-direction: column;

    justify-content: center;

    color: white;
}