body{
    background-color: rgba(154, 154, 155, 0.61);
}

.start,
.now {
    font-size: 35px;
}

.content {
    font-weight: 700;
    font-size: 25px;
    display: flex;
    text-align: center;
}

.main__time {
    flex-direction: column;

    justify-content: center;
}